* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffecec;
}

/* cabeçalho */
header {
    background-color: rgba(245, 245, 245, 0.832);
    height: 88px;
    width: 100vw;
    align-items: center;
    display: flex;    
}

.img-logo {
    margin-left: 20px;
    padding: 8px;
    display: block;
}

.menu{
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.itens-nav {
    text-decoration: none;
    color: black;
    margin: 20px;
    font-size: 18px;
}

.itens-nav:hover {
    color: #d65a7a;
}

/* sessão principal*/
.hero {
    margin: 50px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.circulo{
     width: 250px;
    height: 250px;
    background-color: #ffb6c178;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-20%);
    transform: translateX(-20%);
    z-index: -1;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 43px;
    color: #d65a7a;
    align-items: center;
    margin: 20px 0 0px 80px;
    text-transform: uppercase;

}

.subtitulo {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: #e48a9f;
    padding: 20px;
}

.texto{
    color:#5c5c5c;
    width: 600px;
}
.circulo-grande {
    width: 600px;
    height: 600px;
    background-color: rgba(251, 251, 251, 0.667);
    border-radius: 50%;
    position:fixed;
    top: 45%;
    left: 70%;
    transform: translateY(50%);
    transform: translateX(15%);
    z-index: 1;
}
.container-sorvete {
    width: 400px;
    height: 400px;
    background-color: #ffb6c1b1;
    border-radius: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 40%;
    left: 72%;
    z-index: 2;
}

.circulo-pequeno {
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 50%;
    position:fixed;
    top: 73%;
    left: 80%;
    transform: translateX(50%);
    z-index: 3;
}

.sorvete-principal{
    position: absolute;
    top: 45%;
    left: 73%;
    transform: translatex(3%);
    z-index: 4;
    transition: transform 0.3s ease-in-out;
}

.rodando {
    transform: rotate(360deg);;
}

